{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>
            {{ current_user.name }}'s notes
            <a href="{{ url_for('bp_notes.new') }}" class="btn btn-success btn-sm">new</a>
        </h3>

    {% for note in notes %}
        {% with note=note %}
            {% include 'notes/_single.jinja2' %}
        {% endwith %}
    {% endfor %}

    </div>
</div>
{% endblock %}
