/*
 * Globals
 */

body {
}

.navbar-static-top {
  margin-bottom: 19px;
}

main.container {
    min-height: 20rem;
}

nav.navbar {
    background-color: #e3f2fd;
}

/*
 * Footer
 */

.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.well-ultra-sm {
    padding: 2px;
    margin-bottom: 0px;
}

.single-note {
    margin-bottom: 2em;
}

.summary {
    white-space: pre-wrap;
}

input#call, input#callsign {
    text-transform: uppercase;
}

input#gridsquare, input#locator {
    text-transform: uppercase;
}

input#sat_name {
    text-transform: uppercase;
}

input#sat_mode {
    text-transform: uppercase;
}

input#iota {
    text-transform: uppercase;
}

div#map {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

td.log-cnty {
    font-size: 80%;
}

div#lb-stats-months-prev {
    height: 15em;
}

div#lb-stats-months-cur {
    height: 15em;
}

div#lb-stats-modes {
    min-height: 15em;
}

div#lb-stats-bands {
    min-height: 15em;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

#search-dd {
    min-width: 310px;
    padding: 14px 14px 14px;
    overflow:hidden;
}

.row, .adv-search {
    margin-bottom: 1em;
}

.form-adv-search .form-group {
    margin-bottom: 0;
}

.form-adv-submit .col-lg-6 {
    padding-left: 0;
}