{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h3>Edit application config</h3>
        </div>
    </div>

    <form action="{{ url_for('bp_admin.config') }}" method="POST" class="form-horizontal" name="gtfo-lastpass-search">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=True) }}

        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.clublog_api_key, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.lotw_login_url, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.lotw_download_url, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.lotw_upload_url, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.lotw_rcvd_mark, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.eqsl_download_url, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.eqsl_upload_url, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
                {{ wtf.form_field(form.eqsl_rcvd_mark, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
