<table class="table table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Lower frequency</th>
        <th>Upper frequency</th>
    </tr>
    {% for band in bands['bands'] %}
        <tr>
            <td>{{ band.name }}</td>
            <td>
                {% if band.lower < 1240000000 %}
                    {{ band.lower / 1000000.0 | round }} MHz
                {% elif band.lower >= 1240000000 %}
                    {{ band.lower / 1000000000.0 | round }} GHz
                {% endif %}
            </td>
            <td>
                {% if band.upper < 1240000000 %}
                    {{ band.upper / 1000000.0 | round }} MHz
                {% elif band.upper >= 1240000000 %}
                    {{ band.upper / 1000000000.0 | round }} GHz
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>