{% extends "layout.jinja2" %}
{% import 'bootstrap/form.html' as bf4 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h3>Edit logbook: {{ logbook.name }} <a class="btn btn-sm btn-warning" href="{{ url_for('bp_logbooks.logbooks', user=current_user.name) }}">Cancel</a></h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            {{ bf4.render_form(form, action=url_for('bp_logbooks.edit', logbook_slug=logbook.slug), horizontal_columns=('lg', 2, 5), form_type='horizontal', button_map={'submit': 'success'}) }}
        </div>
    </div>
{% endblock %}
