{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col-lg-6">
            <h3>Edit logbook: {{ logbook.name }}</h3>
        </div>
    </div>

    <form action="{{ url_for('bp_logbooks.edit', logbook_id=logbook.id) }}" method="POST" class="form-horizontal" name="gtfo-lastpass-search">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=True) }}

        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.name, 'horizontal') }}
                {{ wtf.form_field(form.callsign, 'horizontal') }}
                {{ wtf.form_field(form.locator, 'horizontal') }}
                {{ wtf.form_field(form.eqsl_qth_nickname, 'horizontal', placeholder='eQSL QTH Nickname from wanted eQSL profile') }}
                {{ wtf.form_field(form.swl, 'horizontal') }}
                {{ wtf.form_field(form.public, 'horizontal') }}
                {{ wtf.form_field(form.default, 'horizontal') }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
                <a class="btn btn-warning" href="{{ url_for('bp_logbooks.logbooks', user=current_user.name) }}">Cancel logbook</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
