<table class="table table-condensed table-stripped">
    <tr>
        <th>Date</th>
        <th>Call</th>
        <th>Mode</th>
        <th>Sent</th>
        <th>Recv</th>
        <th>Band</th>
        <th>Distance</th>
        <th>Country</th>
        {% if current_user.is_authenticated() %}
            <th>Actions</th>
        {% endif %}
    </tr>
    {% for log in logbook %}
        <tr>
        <td>{{ log.time_on | localize(user=log.user) | show_date_no_offset }}</td>
        <td><a data-toggle="modal" data-target="#ModalQsoSingle" data-qso-id="{{ log.id }}">{{ log.call }}</a></td>
        <td>{{ log.mode.mode }}</td>
        <td>{{ log.rst_sent }}</td>
        <td>{{ log.rst_rcvd }}</td>
        <td>{{ log.band.name }}</td>
        <td>{{ log.distance_from_user() | round }} Km</td>
        <td class="log-cnty">{{ log.country }}</td>
        {% if current_user.is_authenticated() %}
            <td>
                <a href="{{ url_for('bp_qsos.delete', qso_id=log.id) }}" class="btn btn-danger btn-xs delete_link">delete</a>
            </td>
        {% endif %}
        </tr>
    {% endfor %}
</table>