<table class="table table-condensed">
    <tr>
        <th>Date</th>
        <th>Call</th>
        <th>Mode</th>
        <th>Sent</th>
        <th>Recv</th>
        <th>Band</th>
    </tr>
    {% for log in qsos %}
        <tr>
        <td>{{ log.time_on | localize | show_date_no_offset }}</td>
        <td>{{ log.call }}</td>
        <td>{{ log.submode }}</td>
        <td>{{ log.rst_sent }}</td>
        <td>{{ log.rst_rcvd }}</td>
        <td>{{ log.name }}</td>
        </tr>
    {% endfor %}
</table>