{% extends "layout.jinja2" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% import 'bootstrap/form.html' as bf4 %}

{% block content %}

    <div class="modal fade" tabindex="-1" role="dialog" id="ModalQsoSingle">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row justify-content-between">
        {% if band or mode %}
            <div class="col-6">
                <h4>QSOs filtered: band: {{ band }} & mode: {{ mode }}</h4>
                <h5>From logbook: {{ logbook.name }}</h5>
            </div>
        {% else %}
            <div class="col-6">
                <h4>All QSOs</h4>
                <h5>From logbook: {{ logbook.name }}</h5>
            </div>
        {% endif %}
        <div class="col-4 text-right">
            {{ bf4.render_form(filter_form, action=url_for('bp_qsos.logbook', username=user.name, logbook_slug=logbook.slug), form_type='inline', button_map={'submit': 'success'}) }}
        </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
        <div id="map" style="width: 1024px; height: 300px"></div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4">
        <a href="{{ url_for("bp_qsos.map", logbook_slug=logbook.slug, username=logbook.user.name) }}" title="Bigger map" class="btn btn-sm btn-secondary"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
        <small id="curDate"></small>
    </div>
    <div class="col-lg-2 col-lg-offset-6">
        Show day/night <input type="checkbox" id="toggleGreyline">
    </div>
    </div>

    <div class="row">
    <br />
    <div class="col-lg-9">
        <table class="table table-sm table-stripped">
            <tr>
                <th>Date</th>
                <th>Call</th>
                <th>Mode</th>
                <th>Sent</th>
                <th>Recv</th>
                <th>Band</th>
                <th>Distance</th>
                <th>Country</th>
                {% if current_user.is_authenticated and (current_user.id == user.id) %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            {% for log in qsos.items %}
                <tr>
                <td>{{ log.time_on | localize(user=log.user) | show_date_no_offset }}</td>
                <td>
                    <a href="{{ url_for('bp_qsos.view', username=log.user.name, logbook_slug=log.logbook.slug, qso_slug=log.slug) }}"><span class="fa fa-eye"></span></a>
                    <a data-toggle="modal" data-target="#ModalQsoSingle" data-qso-id="{{ log.id }}">{{ log.call }}</a>
                </td>
                <td>
                    {% if log.pictures.count() > 0 %}
                    <strong title="Pictures attached">{{ log.mode.submode }}</strong>
                    {% else %}
                    {{ log.mode.submode }}
                {% endif %}
                </td>
                <td>{{ log.rst_sent }}</td>
                <td>{{ log.rst_rcvd }}</td>
                <td>{{ log.band.name }}</td>
                <td>{% if log.distance_from_user() %}{{ log.distance_from_user() | round }} Km{% endif %}</td>
                <td class="log-cnty">{{ log.country }}</td>
                {% if current_user.is_authenticated and (current_user.id == log.user_id) %}
                    <td>
                        <a href="{{ url_for('bp_qsos.edit', qso_slug=log.slug, logbook_slug=log.logbook.slug) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            &nbsp;&nbsp;
                        <a href="{{ url_for('bp_qsos.delete', qso_slug=log.slug) }}" class="delete_link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>

        {{ render_pagination(qsos) }}
    </div>
    <div class="col-lg-3">
        <table class="table table-sm table-stripped">
            <tr><td colspan="2"><span class="fa fa-user" aria-hidden="true"></span> User</td></tr>
            <tr><td width="60%">Callsign</td><td>{{ user.callsign }}</td></tr>
            {% if user.swl %}
                <tr><td width="60%">SWL</td><td><span class="fa fa-{{ 'ok' if user.swl else 'remove' }}"></span></td></tr>
            {% endif %}
            <tr>
                <td width="60%">Zone</td>
                <td>{{ user.zone_str() }}</td>
            </tr>
        </table>

        <table class="table table-sm table-stripped">
            <tr><td colspan="2"><span class="fa fa-book" aria-hidden="true"></span> This logbook</td></tr>
            {% if logbook.callsign != logbook.user.callsign %}
            <tr><td width="60%">Callsign used</td><td>{{ logbook.callsign }}</td></tr>
            {% endif %}
            {% if logbook.locator != logbook.user.locator %}
            <tr><td width="60%">Locator used</td><td>{{ logbook.locator }}</td></tr>
            {% endif %}
            {% if logbook.swl %}
                <tr><td width="60%">SWL</td><td><span class="fa fa-{{ 'ok' if logbook.swl else 'remove' }}"></span></td></tr>
            {% endif %}
            {% if not logbook.public %}
                <tr><td width="60%">Is private?</td><td><span class="fa fa-{{ 'remove' if logbook.public else 'lock' }}"></span></td></tr>
            {% endif %}
            {% if logbook.default %}
                <tr><td width="60%">Default</td><td><span class="fa fa-{{ 'ok' if logbook.default else 'remove' }}"></span></td></tr>
            {% endif %}
        </table>

        <table class="table table-sm table-stripped">
            <tr><td colspan="2"><span class="fa fa-signal" aria-hidden="true"></span> QSOs</td></tr>
            <tr><td width="60%">Total</td><td>{{ stats['qsos']['total'] }}</td></tr>
            <tr><td width="60%">Month</td><td>{{ stats['qsos']['month'] }}</td></tr>
            <tr><td width="60%">Year</td><td>{{ stats['qsos']['year'] }}</td></tr>
        </table>

        <table class="table table-sm table-stripped">
            <tr><td colspan="2"><span class="fa fa-globe" aria-hidden="true"></span> Countries</td></tr>
            <tr><td width="60%">Worked</td><td>{{ stats['countries']['worked'] }}</td></tr>
            <tr><td width="60%">Needed</td><td>{{ stats['countries']['needed'] }}</td></tr>
        </table>

        <table class="table table-sm table-stripped">
            <tr><td colspan="2"><span class="fa fa-picture-o" aria-hidden="true"></span> QSL Cards</td></tr>
            <tr><td width="60%">Sent</td><td>{{ stats['qsl']['sent'] }}</td></tr>
            <tr><td width="60%">Received</td><td>{{ stats['qsl']['received'] }}</td></tr>
            <tr><td width="60%">Requested</td><td>{{ stats['qsl']['requested'] }}</td></tr>
        </table>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/L.Terminator.js') }}"></script>

    <script>
        {% if uqth %}
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
            }

            var map = L.map('map').setView([52, 4], 3);
            map.addLayer(L.tileLayer.provider('OpenStreetMap.Mapnik'));

            function popUp(f,l){
                var out = [];
                if (f.properties) {
                    if (f.properties['own']) {
                        l.bindPopup("<div class='popupMap'>This user: " + f.properties['callsign'] + "</div>")
                    } else {
                        var string = "Callsign: " + f.properties['callsign'];
                        string += "<br />QTH: " + f.properties['qth'];
                        string += "<br />Country: " + f.properties['country'];

                        var bands = [];
                        var modes = [];
                        var submodes = [];
                        for (key in f.properties.qsos) {
                            bands.push(f.properties.qsos[key].band);
                            modes.push(f.properties.qsos[key].mode);
                            submodes.push(f.properties.qsos[key].submode);
                        }

                        // Sort and unique
                        $.uniqueSort(bands);
                        $.uniqueSort(modes);
                        $.uniqueSort(submodes);

                        string += "<br />Bands: " + bands.join(", ");
                        string += "<br />Modes: " + modes.join(", ");
                        string += "<br />Submodes: " + submodes.join(", ");
                        l.bindPopup("<div class='popupMap'>" + string + '</div>');
                    }

                    if (f.properties['icon'] == 'home') {
                        l.setIcon(homeIcon);
                    } else if (f.properties['icon'] == 'qso') {
                        l.setIcon(qsoIcon);
                    } else {
                        l.setIcon(defaultIcon);
                    }
                }
            }

            var defaultIcon = L.AwesomeMarkers.icon({
                icon: 'star',
                markerColor: 'blue'
            });
            var qsoIcon = L.AwesomeMarkers.icon({
                icon: 'user',
                markerColor: 'blue'
            });
            var homeIcon = L.AwesomeMarkers.icon({
                icon: 'home',
                markerColor: 'green'
            });

            var geojsonLayer = new L.GeoJSON.AJAX(["{{ url_for('bp_qsos.logbook_geojson', username=user.name, band=band, mode=mode, logbook_slug=logbook.slug) }}"],{onEachFeature:popUp}).addTo(map);

            var t = L.terminator();

            var nomnom = (getCookie("greyLine") == "True");
            if ($('input#toggleGreyline').is(':checked') || nomnom) {
                t.addTo(map);
                document.getElementById("toggleGreyline").checked = true;
            }

            setInterval(function(){updateTerminator(t)}, 1000);

            function updateTerminator(t) {
                var check = $('input#toggleGreyline').is(':checked');
                if (!check) {
                    return;
                }
                var t2 = L.terminator();
                t.setLatLngs(t2.getLatLngs());
                t.redraw();
                $("#curDate").html(Date());
            }

            $('input#toggleGreyline').change(function() {
                var checked = this.checked;
                if (checked) {
                    t.addTo(map);
                    document.cookie = "greyLine=True";
                    console.log("Added greyline");
                } else {
                    map.removeLayer(t);
                    $("#curDate").html("");
                    document.cookie = "greyLine=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                    console.log("Removed greyline");
                }
            })
        {% endif %}

        $('#ModalQsoSingle').on('shown.bs.modal', function(ev) {
            var btn = $(ev.relatedTarget);
            var qso_id = btn.data('qso-id');
            var url = "/logbook/qso/" + qso_id + "/modal";
            $('div.modal-body').load(url);
        });
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}" />
{% endblock %}