{% extends "layout.jinja2" %}
{% import 'bootstrap/form.html' as bf4 %}

{% block content %}
    <div class="row">
        <div class="col-8 justify-content-between">
            <h3>New QSO <small class="freq_mhz"></small><small>TZ: {{ current_user.timezone }}</small></h3>
        </div>
        <div class="col-4">
            <h5>Adding in logbook: {{ logbook.name }}</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-7">
            <form action="{{ url_for('bp_qsos.new', method=method, logbook_slug=logbook.slug) }}" method="POST" class="form-horizontal new-qso" name="gtfo-lastpass-search">
                {{ form.hidden_tag() }}
                {{ bf4.form_errors(form) }}

                <div class="card">
                  <div class="card-body">
                      <div class="form-row">
                          <div class="col">{{ bf4.render_field(form.call, 'inline', placeholder='Callsign') }}</div>
                          <div class="col-3">{{ bf4.render_field(form.band, 'inline') }}</div>
                          <div class="col-3">{{ bf4.render_field(form.mode, 'inline') }}</div>
                      </div>
                      <div class="form-row">
                          <div class="col">{{ bf4.render_field(form.date, 'inline', placeholder='DD-MM-YYYY') }}</div>
                          <div class="col">{{ bf4.render_field(form.time, 'inline', placeholder='HH:MM:SS', autocomplete=off) }}</div>
                          {% if method == 'live' %}
                              <div class="col">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" id="time_frozen">
                                      <label class="form-check-label" for="time_frozen">pause timer</label>
                                  </div>
                              </div>
                              {% endif %}
                          <div class="col text-right">{{ bf4.render_field(form.submit, button_map={'submit': 'success'}) }}</div>
                          <div class="col"><a class="btn btn-warning" href="#clear">clear</a></div>
                      </div>
                  </div>
                </div>

                <br />

                <div class="card">
                  <div class="card-body">
                      <div class="form-row">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="tab-qso" data-toggle="tab" href="#qso" role="tab" aria-controls="qso">QSO</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-qsl" data-toggle="tab" href="#qsl" role="tab" aria-controls="qsl">QSL</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-eqsl" data-toggle="tab" href="#eqsl" role="tab" aria-controls="eqsl">eQSL</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-comment" data-toggle="tab" href="#comment" role="tab" aria-controls="comment">Comment</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-other" data-toggle="tab" href="#other" role="tab" aria-controls="other">Others</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-mydata" data-toggle="tab" href="#mydata" role="tab" aria-controls="mydata">My Data</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab-sat" data-toggle="tab" href="#sat" role="tab" aria-controls="sat">Satellite</a></li>
                        </ul>
                      </div>

                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="qso">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.rst_sent, 'vertical', placeholder='59') }}</div>
                                  <div class="col">{{ bf4.render_field(form.rst_rcvd, 'vertical', placeholder='59') }}</div>
                                  <div class="col">{{ bf4.render_field(form.freq, 'vertical') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.qth, 'vertical', placeholder='QTH') }}</div>
                                  <div class="col">{{ bf4.render_field(form.gridsquare, 'vertical', placeholder='Locator') }}</div>
                                  <div class="col">{{ bf4.render_field(form.country, 'vertical', placeholder='Country') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.name, 'vertical', placeholder='Name') }}</div>
                                  <div class="col">{{ bf4.render_field(form.tx_pwr, 'vertical') }}</div>
                                  <div class="col">{{ bf4.render_field(form.rx_pwr, 'vertical') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="qsl">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.qsl_sent, 'vertical') }}</div>
                                  <div class="col">{{ bf4.render_field(form.qsl_sent_via, 'vertical') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.qsl_via, 'vertical') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.qsl_comment, 'inline', placeholder='This comment will be wrote on (e)QSL') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="eqsl">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.eqsl_qsl_sent, 'vertical') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="comment">
                              <div class="form-row">
                                  <div class="col"><br/>{{ bf4.render_field(form.comment, 'vertical', placeholder='Comment') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.web, 'vertical', placeholder='Web URL') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="other">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.iota, 'vertical', placeholder='eg. EU-005') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.prop_mode, 'vertical') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="mydata">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.radio, 'vertical') }}</div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="sat">
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.sat_name, 'vertical') }}</div>
                              </div>
                              <div class="form-row">
                                  <div class="col">{{ bf4.render_field(form.sat_mode, 'vertical') }}</div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </form>
        </div>

        <div class="col">

            <div class="card">
              <div class="card-body">
                  Bearing: <span id="bearing_info">n/a</span>.
              </div>
            </div>

            <br/>

            <div class="card">
              <div class="card-body">
                  <div class="new_qso_logs_table"></div>
              </div>
            </div>

        </div>

    </div>
{% endblock %}


{% block scripts %}
    {% if method == 'live' %}
    <script>
        function update() {
            if (!document.getElementById('time_frozen').checked) {
                $('#time').val(moment().format('HH:mm:ss'));
            }
        }
        setInterval(update, 1000);
    </script>
    {% endif %}
    <script>
        function reload_frequency() {
            $.ajax({
                url: '{{ url_for('bp_qsos.lib_jambon_band_to_freq') }}',
                data: 'mode=' + $('select#mode').val() + '&band=' + $('select#band').val(),
                dataType: 'json',
                success: function (result) {
                    $('input#freq').val(result.frequency).trigger('keyup');
                }
            })
        }

        function get_bearing() {
            $.ajax({
                url: '{{ url_for('bp_qsos.lib_geo_bearing') }}',
                data: 'locator_qso=' + $('input#gridsquare').val() + '&locator_user={{ current_user.locator }}',
                dataType: 'json',
                success: function (result) {
                    var b = Math.round(result.bearing) + "&deg; " + result.bearing_star + " " + result.distance.toFixed(2) + result.unit;
                    console.log(b);
                    $('span#bearing_info').html(b);
                },
                error: function (result) {
                    $('span#bearing_info').html("Invalid locator or error");
                }
            })
        }

        $('select#band').change(function() { reload_frequency(); });
        $('input#gridsquare').keyup(function() { get_bearing(); });

        $('select#mode').change(function() {
            reload_frequency();

            if ($(this).val() == 'JT65' || $(this).val() == 'JT65B' || $(this).val() == 'JT6C' || $(this).val() == 'JT6M' || $(this).val() == 'FSK441' || $(this).val() == 'JTMS' || $(this).val() == 'ISCAT') {
                $('input#rst_s').val('-5');
                $('input#rst_r').val('-5');
            } else if ($(this).val() == 'CW') {
                $('input#rst_s').val('599');
                $('input#rst_r').val('599');
            } else {
                $('input#rst_s').val('59');
                $('input#rst_r').val('59');
            }
        });

        $('#call').focusout(function() {
            var callsign = $('input#call').val();
            if (callsign) {
                document.getElementById("submit").disabled = true;
                // DXCC
                $.ajax({
                    url: '{{ url_for('bp_qsos.lib_clublog_dxcc') }}',
                    data: 'callsign=' + callsign,
                    dataType: 'json',
                    success: function (result) {
                        $('input#country').val(result.Name);
                        $('input#dxcc').val(result.DXCC);
                        $('input#cqz').val(result.CQZ);
                        return true;
                    }
                });

                // HamQTH
                $.ajax({
                    url: '{{ url_for('bp_qsos.lib_hamqth_call') }}',
                    data: 'callsign=' + callsign,
                    dataType: 'json',
                    success: function (result) {
                        $('input#name').val(result.nick);
                        $('input#gridsquare').val(result.grid);
                        $('input#qth').val(result.qth);
                        $('input#web').val(result.web);
                        $('input#iota').val(result.iota);
                        return true;
                    }
                });
                $('input#submit').removeAttr("disabled");
            }
        });
        $('input#call').keyup(function() {
            var callsign = $('input#call').val();
            if (callsign) {
                $.ajax({
                    url: '{{ url_for('bp_qsos.last_16_qsos', logbook_slug=logbook.slug) }}',
                    data: 'callsign=' + callsign,
                    dataType: 'html',
                    success: function (result) {
                        $('div.new_qso_logs_table').html(result);
                        return true;
                    }
                });
            }
        })


        $('input#freq').keyup(function() {
            var freq = $('input#freq').val();
            $('small.freq_mhz').html("(" + freq / 1000000.0 + "MHz) ");
        });

        // in last, call functions to be updated on load
        reload_frequency(); // first call on page load

        // Load right page table
        var last16_url = '{{ url_for('bp_qsos.last_16_qsos', logbook_slug=logbook.slug) }}';
        $('div.new_qso_logs_table').load(last16_url);
    </script>
{% endblock %}
