{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <h4>QSOs in <span class="year-prev"></span></h4>
            <div id="lb-stats-months-prev"></div>
        </div>
        <div class="col-lg-5">
            <h4>QSOs in <span class="year-cur"></span></h4>
            <div id="lb-stats-months-cur"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <h4>Total modes logged</h4>
            <div id="lb-stats-modes"></div>
        </div>
        <div class="col-lg-5">
            <h4>Total bands logged</h4>
            <div id="lb-stats-bands"></div>
        </div>
    </div>

    {% if stats['total_qsos_year'] > 0 %}
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <table class="table table-condensed">
                {% for i in stats['modes_used'] | batch(2) %}
                    <tr>
                        {% for col in i %}
                            <td width="10%">{{ col['label'] }}</td><td>{{ ((col['data'] * 100) / stats['total_qsos_year']) | round(2) }}%</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-5">
            <table class="table table-condensed">
                {% for i in stats['bands_used'] | batch(2)%}
                    <tr>
                        {% for col in i %}
                            <td width="10%">{{ col['label'] }}</td><td>{{ ((col['data'] * 100) / stats['total_qsos_year']) | round(2) }}%</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.time.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.categories.min.js') }}"></script>

    <script>

    var stats = {{ stats_json }};
    $('span.year-prev').html(stats.l_py);
    $('span.year-cur').html(stats.l_cy);

    var plotObjCur = $.plot("#lb-stats-months-cur", [
        { data: stats.current_year, label: stats.l_cy }
    ], {
        series: {
            lines: { show: true },
            points: { show: true }
        },
        grid: { hoverable: true },
        yaxis: { min: 0 }
    });

    var plotObjPrev = $.plot("#lb-stats-months-prev", [
        { data: stats.previous_year, label: stats.l_py }
    ], {
        series: {
            lines: { show: true },
            points: { show: true }
        },
        grid: { hoverable: true },
        yaxis: { min: 0 }
    });

    $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80
    }).appendTo("body");

    $("#lb-stats-months-prev").bind("plothover", function(e, p, i) {
       if (i) {
           var x = i.datapoint[0];
           var y = i.datapoint[1];
           $("div#tooltip").html(y + " QSOs")
                   .css({top: i.pageY+5, left: i.pageX+5})
                   .fadeIn(200);
       } else {
           $('div#tooltip').hide()
       }
    });

    $("#lb-stats-months-cur").bind("plothover", function(e, p, i) {
       if (i) {
           var x = i.datapoint[0];
           var y = i.datapoint[1];
           $("div#tooltip").html(y + " QSOs")
                   .css({top: i.pageY+5, left: i.pageX+5})
                   .fadeIn(200);
       } else {
           $('div#tooltip').hide()
       }
    });

    var objModes = $.plot('#lb-stats-modes', stats.modes_used, {
        series: {
            pie: {
                show: true
            }
        }
    });

    var objBands = $.plot('#lb-stats-bands', stats.bands_used, {
        series: {
            pie: {
                show: true
            }
        }
    });

    </script>
{% endblock %}
{% block styles %}
{% endblock %}