{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <div id="lb-stats-months-prev"></div>
        </div>
        <div class="col-lg-5">
            <div id="lb-stats-months-cur"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris.min.js') }}"></script>
    <script>
    Morris.Line({
        element: 'lb-stats-months-prev',
        data: {{ stats_months }}[1],
        xkey: 'date',
        ykeys: ['count'],
        xLabels: 'month',
        labels: ['QSOs'],
        hideHover: false,
        ymin: 'auto 10'
    });

    Morris.Line({
        element: 'lb-stats-months-cur',
        data: {{ stats_months }}[0],
        xkey: 'date',
        ykeys: ['count'],
        xLabels: 'month',
        labels: ['QSOs'],
        hideHover: 'auto',
        ymin: 'auto 10'
    });
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morris.css') }}" />
{% endblock %}