{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>QSO with {{ qso.call }} on {{ qso.time_on | localize(user=qso.user) | show_date_no_offset }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <table class="table table-borderless">
            <tr>
                <td>Band</td>
                <td>{{ qso.band.name }}</td>
            </tr>
            <tr>
                <td>Freq.</td>
                <td>{{ qso.freq }}Hz - {{ qso.freq / 1000000.0 }}MHz</td>
            </tr>
            <tr>
                <td>Mode</td>
                <td>{{ qso.mode.mode }}</td>
            </tr>
            <tr>
                <td>RST Sent</td>
                <td>{{ qso.rst_sent }}</td>
            </tr>
            <tr>
                <td>RST Recv</td>
                <td>{{ qso.rst_rcvd }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ qso.country }}</td>
            </tr>
            <tr>
                <td>Distance</td>
                <td>{{ qso_bearing | round }}&deg; {{ qso_bearing_star }} - {{ qso_distance | round }} {{ qso_distance_unit }}</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>{{ qso.comment or "No comment" }}</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>{{ qso.notes or "No notes" }}</td>
            </tr>
            {% if qso.web %}
            <tr>
                <td>Web</td>
                <td><a href="{{ qso.web }}">{{ qso.web }}</a></td>
            </tr>
            {% endif %}
        </table>
    </div>

    <div class="col-lg-4">
        <div id="map-single-qso" style="height: 250px"></div>
        {% if current_user.is_authenticated %}
            <br/>
            <form action="{{ url_for('bp_qsos.view_post', logbook_id=qso.logbook.id, username=qso.user.name, qso_id=qso.id) }}" method="POST" enctype="multipart/form-data" class="form-horizontal new-qso" name="gtfo-lastpass-search">
                {{ new_pic.hidden_tag() }}
                {{ wtf.form_errors(new_pic, hiddens=True) }}

                {{ wtf.form_field(new_pic.name, 'horizontal', placeholder="New picture name") }}
                {{ wtf.form_field(new_pic.picture, 'horizontal') }}
                {{ wtf.form_field(new_pic.submit, button_map={'submit': 'success'}) }}
            </form>
        {% endif %}
    </div>

    <div class="col-lg-4">
        {% for row in qso.pictures | batch(2) %}
        <div class="row">
            {% for col in row %}
                <div class="col-lg-6">
                    <a href="/uploads/pictures/{{ col.filename }}" target="_blank"><img alt="{{ col.name }}" width="150px" src="/uploads/pictures/{{ col.filename }}"/></a>
                    <br/>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('bp_qsos.delete_picture', logbook_id=col.log.logbook.id, username=col.log.user.name, qso_id=col.log.id, picture_id=col.id) }}" class="btn btn-danger btn-xs delete_link">delete</a>
                    {% endif %}
                    {{ col.name }}
                    <br/><br/>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>

    <script>
    var map_single_qso = L.map('map-single-qso').setView([52, 4], 3);
    map_single_qso.addLayer(L.tileLayer.provider('OpenStreetMap.Mapnik'));

    function popUp(f,l){
        var out = [];
        if (f.properties) {
            if (f.properties['own']) {
                l.bindPopup("<div class='popupMap'>This user: " + f.properties['callsign'] + "</div>")
            } else {
                var string = "Callsign: " + f.properties['callsign'];
                string += "<br />Date: " + f.properties['date'];
                string += "<br />Band: " + f.properties['band'];
                string += "<br />Mode: " + f.properties['mode'];
                l.bindPopup("<div class='popupMap'>" + string + '</div>');
            }

            if (f.properties['icon'] == 'home') {
                l.setIcon(homeIcon);
            } else if (f.properties['icon'] == 'qso') {
                l.setIcon(qsoIcon);
            } else {
                l.setIcon(defaultIcon);
            }
        }
    }

    var defaultIcon = L.AwesomeMarkers.icon({
        icon: 'star',
        markerColor: 'blue'
    });
    var qsoIcon = L.AwesomeMarkers.icon({
        icon: 'user',
        markerColor: 'blue'
    });
    var homeIcon = L.AwesomeMarkers.icon({
        icon: 'home',
        markerColor: 'green'
    });

    var geojsonLayer = new L.GeoJSON.AJAX(["{{ url_for('bp_qsos.logbook_qso_geojson', qso_id=qso.id) }}"],{onEachFeature:popUp}).addTo(map_single_qso);
</script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}" />
{% endblock %}