{% import "bootstrap/utils.html" as butils %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    {% block title %}{% if pcfg and pcfg['title'] %}{{ pcfg['title'] }} - AHRL{% else %}AHRL{% endif %}{% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/fork-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    {% block styles %}{% endblock %}
  </head>

    <body>

    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="{{ url_for('bp_main.home') }}">AHRL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated and request.endpoint %}
            <li class="nav-item {% if request.endpoint == 'bp_logbooks.logbooks' %}active{% endif %}"><a class="nav-link" href="{{ url_for('bp_logbooks.logbooks', user=current_user.name) }}">My Logbooks</a></li>
            {% if logbook %}
                <li class="nav-item {% if request.endpoint == 'bp_logbooks.logbooks' %}active{% endif %}"><a class="nav-link" href="{{ url_for('bp_qsos.logbook', username=current_user.name, logbook_slug=logbook.slug) }}">Current Logbook</a></li>
            {% endif %}
            <li class="nav-item {% if request.endpoint.startswith('bp_contacts.') %}active{% endif %}"><a class="nav-link" href="{{ url_for('bp_contacts.contacts') }}">Contacts</a></li>

            {% if logbook and (current_user.id == logbook.user_id) %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QSOs</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_qso">
                <a class="dropdown-item" href="{{ url_for('bp_qsos.new', method='live', logbook_slug=logbook.slug) }}">Live QSO</a>
                <a class="dropdown-item" href="{{ url_for('bp_qsos.new', method='manual', logbook_slug=logbook.slug) }}">Post QSO</a>
              </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_qso">
                <a class="dropdown-item" href="{{ url_for('bp_notes.notes') }}">View</a>
                <a class="dropdown-item" href="{{ url_for('bp_notes.new') }}">Create</a>
              </div>
            </li>

            {% if logbooks %}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statistics</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown_stats">
                      {% for l in logbooks %}
                        <a class="dropdown-item" href="{{ url_for('bp_qsos.logbook_stats', username=current_user.name, logbook_slug=l.slug) }}">For {{ l.name }} <small>({{ l[3] }} qsos)</small></a>
                      {% endfor %}
                  </div>
                </li>
            {% endif %}

          {% else %}
                {% if user %}
                    <li class="nav-item {% if request.endpoint == 'bp_logbooks.logbooks' %}active{% endif %}"><a class="nav-link" href="{{ url_for('bp_logbooks.logbooks', user=user.name) }}">Logbook</a></li>
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statistics</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown_logbooks">
                          {% for l in logbooks %}
                            <a class="dropdown-item" href="{{ url_for('bp_qsos.logbook_stats', username=user.name, logbook_slug=l.slug) }}">For {{ l.name }} <small>({{ l[3] }} qsos)</small></a>
                          {% endfor %}
                      </div>
                    </li>
                {% endif %}
          {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if request.endpoint %}
                <li class="nav-item {% if request.endpoint.startswith('bp_main.about') %}active{% endif %}"><a class="nav-link" href="{{ url_for('bp_main.about') }}">About</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged as {{ current_user.name }}</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_user">
                          <h6 class="dropdown-header">User</h6>
                          <a class="dropdown-item" href="{{ url_for('bp_users.profile') }}">Profile</a>
                          <a class="dropdown-item" href="{{ url_for('bp_users.logs') }}">Logs</a>
                          {% if is_admin() %}
                              <div class="dropdown-divider"></div>
                              <h6 class="dropdown-header">Admin</h6>
                              <a class="dropdown-item" href="{{ url_for('bp_admin.config') }}">App config</a>
                              <a class="dropdown-item" href="{{ url_for('bp_admin.logs') }}">App logs</a>
                          {% endif %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for_security('change_password') }}">Change password</a>
                          <a class="dropdown-item" href="{{ url_for_security('logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    {% if security.registerable %}
                        <li class="nav-item {% if request.endpoint.startswith('security.register') %}active{% endif %}"><a class="nav-link" href="{{ url_for_security('register') }}">Register</a></li>
                    {% endif %}
                    <li class="nav-item {% if request.endpoint.startswith('security.login') %}active{% endif %}"><a class="nav-link" href="{{ url_for_security('login') }}">Login</a></li>
                {% endif %}
            {% endif %}
          </ul>
      </div>
    </nav>

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main><!-- /.container -->

    <!-- FIXME: footer styling -->
    <footer class="blog-footer">
      <p>AHRL <a href="https://github.com/rhaamo/ahrl">Source code</a></p>
      <p><small>Running version {{ g.cfg['AHRL_VERSION'] }}</small></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootstrap-growl.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
