{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col-lg-6">
            <h3>Edit profile - {{ current_user.name }}</h3>
        </div>
    </div>

    <form action="{{ url_for('bp_users.edit') }}" method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=True) }}

        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.callsign, 'horizontal') }}
                {{ wtf.form_field(form.locator, 'horizontal') }}
                {{ wtf.form_field(form.zone, 'horizontal') }}
                {{ wtf.form_field(form.timezone, 'horizontal') }}
                {{ wtf.form_field(form.firstname, 'horizontal') }}
                {{ wtf.form_field(form.lastname, 'horizontal') }}
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-5">
                        {{ wtf.form_field(form.lotw_name, 'vertical') }}
                        {{ wtf.form_field(form.eqsl_name, 'vertical') }}
                    </div>
                    <div class="col-lg-6 col-lg-offset-1">
                        {{ wtf.form_field(form.lotw_password, 'vertical') }}
                        {{ wtf.form_field(form.eqsl_password, 'vertical') }}
                    </div>
                </div>
                {{ wtf.form_field(form.swl, 'horizontal', horizontal_columns=('lg', 4, 8)) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
                <a class="btn btn-warning" href="{{ url_for('bp_users.profile') }}">Cancel edit</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
