{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>
            {{ current_user.name }}'s contacts
            <a href="{{ url_for('bp_contacts.new') }}" class="btn btn-success btn-sm">new</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">

        <table class="table table-sm contacts-list">
            <tr>
                <th>Callsign</th>
                <th>Gridsquare</th>
                <th>Distance</th>
                <th>Bearing</th>
                <th>Dir</th>
                {% if current_user.is_authenticated %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            {% for c in contacts %}
                <tr>
                    <td>{{ c.callsign }}</td>
                    <td>{{ c.gridsquare }}</td>
                    <td>{{ c.distance | round}} Km</td>
                    <td>{{ c.bearing | round}}</td>
                    <td>{{ c.bearing_star }}</td>
                    {% if current_user.is_authenticated %}
                        <td>
                            <a href="{{ url_for('bp_contacts.edit', contact_id=c.id) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            &nbsp;&nbsp;
                            <a href="{{ url_for('bp_contacts.delete', contact_id=c.id) }}" class="delete_link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-lg-6">
        <div id="map" style="height: 300px"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>

    <script>
        var map = L.map('map').setView([52, 4], 3);
        map.addLayer(L.tileLayer.provider('OpenStreetMap.Mapnik'));

        function popUp(f,l){
            var out = [];
            if (f.properties) {
                if (f.properties['own']) {
                    l.bindPopup("<div class='popupMap'>This user: " + f.properties['callsign'] + "</div>")
                } else {
                    var string = "Callsign: " + f.properties['callsign'];
                    string += "<br />Distance: " + Math.round(f.properties['distance']) + " Km";
                    string += "<br />Bearing: " + Math.round(f.properties['bearing']) + " " + f.properties['bearing_star'];
                    l.bindPopup("<div class='popupMap'>" + string + '</div>');
                }

                if (f.properties['icon'] == 'home') {
                    l.setIcon(homeIcon);
                } else if (f.properties['icon'] == 'qso') {
                    l.setIcon(qsoIcon);
                } else {
                    l.setIcon(defaultIcon);
                }
            }
        }

        var defaultIcon = L.AwesomeMarkers.icon({
            icon: 'star',
            markerColor: 'blue'
        });
        var qsoIcon = L.AwesomeMarkers.icon({
            icon: 'user',
            markerColor: 'blue'
        });
        var homeIcon = L.AwesomeMarkers.icon({
            icon: 'home',
            markerColor: 'green'
        });

        var geojsonLayer = new L.GeoJSON.AJAX(["{{ url_for('bp_contacts.contacts_geojson', username=current_user.name) }}"],{onEachFeature:popUp}).addTo(map);

    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}" />
{% endblock %}